@using System.Collections.Generic
@using System.Linq
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@using Microsoft.AspNetCore.Http.Features
@model SubscribeViewModel
@{
    ViewData["Title"] = "Get real time notifications for ship sales, announcements, patch notes and more";
    ViewData["MetaDescription"] = "Star Citizen Gimp: A bot that notifies you when there are updates to the RSI store, announcements on Spectrum or comm link feed so you never miss out on new content and promotions.";
    ViewData["MetaKeywords"] = "Star Citizen Gimp,ScGimp,SC Gimp,Star Citizen,notifications,bot,sales monitor,detect changes,crawl,early warning,Star Citizen shop notifications,sale automatic email,automatic notifications,automatic notification";
    ITrackingConsentFeature consentFeature = Context.Features.Get<ITrackingConsentFeature>();
    bool canTrack = consentFeature?.CanTrack ?? false;
}

<script type="text/javascript">
    function onSubscribeSilentRecaptcha(token) {

        $("#subscribeForm").validate().element("#emailInput");

        if ($("#subscribeForm").valid()) {

            document.getElementById('subscribeForm').submit();
        }
    }
</script>
<h1>Star Citizen Gimp</h1>
<p>Star Citizen Gimp is a bot that notifies a subscriber whenever it detects new products on the RSI store, announcements on Spectrum or new articles in the comm link feed. <a asp-area="" asp-controller="Home" asp-action="About">Click here for more information about the bot</a>.</p>
@if (canTrack)
{
    <form id="subscribeForm" method="post">
        <h2>Subscribe by Email</h2>
        <div class="form-group">
            <input id="emailInput" asp-for="Email" class="form-control" placeholder="john@doe.com" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <button id="subscribeButton" class="btn btn-primary g-recaptcha" data-sitekey="6LfTs04UAAAAACgTFxJ-xpdArNtZL09cZA9mfPvq" data-callback="onSubscribeSilentRecaptcha">Subscribe</button>
        </div>
        <div class="form-group">
            @Html.Raw(Model.Message)
        </div>
    </form>
}
else
{
    @await Html.PartialAsync("_CookiesDisabledPartial")
}
<h2>Discord Webhooks</h2>
<p>Discord Webhooks are also supported by the Star Citizen Gimp bot. <a asp-area="" asp-controller="Home" asp-action="DiscordWebhooks">Click here to register a Discord Webhook</a> which will allow Star Citizen Gimp to push notifications to a channel on your Discord Server.</p>
@await Html.PartialAsync("_StatsPartial", Model.Stats)
@await Html.PartialAsync("_DonatePartial")