@using System.Collections.Generic
@using System.Linq
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@{
    ViewData["Title"] = "Star Citizen Referral Code";
    ViewData["MetaDescription"] = "Enlist at Roberts Space Industries with the code STAR-PVJ4-SNYB and get 5,000 free UEC credits and take your first steps into the Star Citizen Universe.";
    ViewData["MetaKeywords"] = "Star Citizen referral code,free credits,free UEC,bonus credits,bonus UEC";
}
<h1>Enlist now</h1>
<p><a href="https://robertsspaceindustries.com/enlist?referral=STAR-PVJ4-SNYB">Enlist at Roberts Space Industries</a> with the referral code <strong>STAR-PVJ4-SNYB</strong> to get 5,000 UEC (United Earth Credits) and take your first steps into the Star Citizen Universe.</p>
<p>The Star Citizen Recruitment Program allows citizens to invite friends to join the Star Citizen Project. Anyone registering with a referral code will automatically get 5,000 UEC to spend in Voyager Direct, and whenever a recruit becomes an active player by purchasing a Game Package (with minimum value of $40 USD), the recruiter will get a Recruitment Point. These Points unlock rewards automatically. See the full details <a href="https://robertsspaceindustries.com/referral-program">here</a>.</p>