<h2><a id="donations"></a>Donations</h2>
<p>This is a free service, but it does cost a bit to host the services in the cloud and as such any donations will be much appreciated and help towards keeping it online and maintained.</p>
<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
    <input type="hidden" name="cmd" value="_s-xclick">
    <input type="hidden" name="hosted_button_id" value="9HDYSEFYT6GEA">
    <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
    <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>
<br />
<p>Balance: -$28</p>
<p>Average monthly hosting costs: $55 (USD)</p>
<h5>2018 April Patrons:</h5>
<ul>
    <li>NA</li>
</ul>
<h5>2018 March Patrons:</h5>
<ul>
    <li>NA</li>
</ul>