<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="AzureWebJobsStorage" connectionString="DefaultEndpointsProtocol=https;AccountName=scgimp;AccountKey=+HXnE/xulPCpAVs+KHPuneQHPM4ZR7HY5aGawl06hnj0QupYNshM/yjh9n03MTvGZQIn4RwmVvZFJEIGK807gA==;EndpointSuffix=core.windows.net" />
    <add name="AzureWebJobsDashboard" connectionString="DefaultEndpointsProtocol=https;AccountName=scgimp;AccountKey=+HXnE/xulPCpAVs+KHPuneQHPM4ZR7HY5aGawl06hnj0QupYNshM/yjh9n03MTvGZQIn4RwmVvZFJEIGK807gA==;EndpointSuffix=core.windows.net" />
    <add name="ScGimpContext" connectionString="Server=tcp:scgimp.database.windows.net,1433;Initial Catalog=scgimp;Persist Security Info=False;User ID=scgimpuser;Password=98e992f2-f679-4000-b3c9-ff2c2baad100091cce87-279e-49fc-beef-b25b5e9495a7f0003b8c-b38b-4ad1-82ba-79163561e560;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
  </connectionStrings>
  <!-- To customize the asp.net core module uncomment and edit the following section. 
  For more info see https://go.microsoft.com/fwlink/?linkid=838655 -->
  
  <system.webServer>
    <handlers>
      <remove name="aspNetCore"/>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified"/>
    </handlers>
    <aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" stdoutLogEnabled="true" stdoutLogFile=".\logs\stdout" />
  </system.webServer>
  <appSettings>
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>

</configuration>